@import "tailwindcss";

:root {
  --background: #ffffff;
  --background2: #f7f7f7;
  --foreground: #111111;
  --foreground2: #787878;
  --border: #ededed;
  --border2: #dddddd;
  --primary: #d52b1e;
  --weight-normal: 330;
}

@theme inline {
  --color-background: var(--background);
  --color-background2: var(--background2);
  --color-foreground: var(--foreground);
  --color-foreground2: var(--foreground2);
  --color-border: var(--border);  
  --color-border2: var(--border2);  
  --color-primary: var(--primary);
  --font-sans: var(--font-sohne);
  --font-weight-normal: var(--weight-normal);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sohne), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: var(--weight-normal);
  position: relative;
  line-height: 1.625;
}

::-webkit-scrollbar-thumb {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  scrollbar-width: none;
}