@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --foreground2: #808080;
  --primary: #d52b1e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground2: var(--foreground2);
  --color-primary: var(--primary);
  --font-sans: var(--font-sohne);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sohne), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
